
.modal{
    background-color: #286f6e !important;
}

.navigation-container{
    background-color: #338e8d  !important;
}

.navigation-container .close-window-line{
    background-color: #FFF !important;
}

.navigation-container .maximize-square{
    border: 1px solid #FFF !important;
}

.navigation-container .minimize-line{
    background-color: #FFF !important;
}

.sidebar-option, .file-option, .templates-option, .gdoc, .settings-title, .settings-title-second, .option > div, .modal .material-icons, .active{
    color: rgba(255, 255, 255, 0.8) !important;
    opacity: 1 !important;
}

.doc-active{
    background-color:#388e8d !important;
}

.document-title, .modal-title{
    color: rgba(255, 255, 255, 1) !important;
}

.document-title::selection{
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.document-size, .settings-description{
    color: rgba(255, 255, 255, 0.6) !important;
}

.active{
    background-color: rgb(64, 206, 193) !important;
}

.option{
    background-color:rgb(44, 123, 122) !important;
}

.option>div:not(.active):hover {
    background-color: rgba(187, 187, 187, 0.2) !important;
}

.snackbar{
    background-color: #245857 !important;
}

.toggle-active{
    background-color: #1cd4d1 !important;
}

.toggle-active .toggle-circle{
    background-color: #2e9695 !important;
}

.details-amount, .command, .feedback-email, .feedback-subject, .feedback-message{
    color:rgb(255, 255, 255) !important;
}

.details-title, .command-title{
    color: rgba(255,255,255, 0.7) !important;
}

.feedback-content label{
    color:rgba(255,255,255,0.6) !important;
}
